.head{
    display: flex;
    
}
.right{
    width: 100%;
}

@media (min-width: 768px) {
    .right {
        width: 50%;
    }
}
.left{
    left:0;
    width: 100%;
    height:50%;
}

@media (min-width: 768px) {
    .left {
        width: 50%;
    }
}
.right img{
    float: left;
}
.right_info h4{
}
body{
    font-family: "Roboto", sans-serif;
    padding:1.5%;
    border: 0.5px solid black;
}
.container{
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }
}
.rightin{
}
table, th{
    border: 0.5px solid black;
    border-collapse: collapse;
}
td,th{
    padding:5px 8px;
}
td{
    border-left: 0.5px solid black;
}
.end{
    border: 1px solid black;
}
.lefty{
    border-bottom: 0.5px solid black;
    border-right:0.5px solid black;
}
.righty{
    border:0.5px solid black;
}
table{
}
.special_notes{
    width: 100%;
    font-size: smaller;
    border-right: 1px solid black;
}

@media (min-width: 768px) {
    .special_notes {
        width: 60%;
    }
}